global:
  # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  scrape_interval: 10s
  # Evaluate rules every 15 seconds. The default is every 1 minute.
  evaluation_interval: 10s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - rules/node_exporter.yml
  - rules/debezium.yml

# A scrape configuration containing exactly one endpoint to scrape:
scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
    basic_auth:
      username: "admin"
      password: "admin"

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node_exporter:9100"]
    basic_auth:
      username: "admin"
      password: "admin"
    relabel_configs:
    - source_labels: [__address__]
      separator: ':'
      regex: '(.*):(.*)'
      replacement: '${1}'
      target_label: instance

  - job_name: "kafka-brokers"
    static_configs:
      - targets: ["broker-1:5556", "broker-2:5556", "broker-3:5556"]
        labels:
          role: "broker"
          cluster: "kraft-cluster"

  - job_name: "kafka-controllers"
    static_configs:
      - targets: ["controller-1:5556", "controller-2:5556", "controller-3:5556"]
        labels:
          role: "controller"
          cluster: "kraft-cluster"

  - job_name: debezium
    scrape_interval: 5s
    static_configs:
      - targets: ["debezium:5556"]
