services:

  prometheus:
    image: prom/prometheus:v2.46.0
    container_name: prometheus
    restart: unless-stopped
    command: [
      "--config.file=/etc/prometheus/prometheus.yml", 
      "--storage.tsdb.path=/prometheus", 
      "--web.console.libraries=/usr/share/prometheus/console_libraries", 
      "--web.console.templates=/usr/share/prometheus/consoles", 
      "--web.config.file=/etc/prometheus/web.yml",
      "--web.enable-lifecycle"
    ]
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/web.yml:/etc/prometheus/web.yml:ro
      - ./prometheus/rules:/etc/prometheus/rules:ro
    ports:
      - "9090:9090"
    networks:
      - monitoring

  alertmanager:
    image: prom/alertmanager  
    container_name: alertmanager
    restart: unless-stopped
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - alertmanager_data:/alertmanager
    networks:
      - monitoring

  calert:
    image: ghcr.io/mr-karan/calert:latest
    container_name: calert
    restart: unless-stopped
    volumes:
      - ./calert/config.toml:/app/config.toml:ro
      - ./calert/templates:/app/templates:ro
    ports:
      - "6000:6000"
    networks:
      - monitoring
    command: ["--config", "/app/config.toml"]


  grafana:
    image: grafana/grafana:10.0.5
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana_storage:/var/lib/grafana
    networks:
      - monitoring

  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    restart: unless-stopped
    command:
      - '--path.rootfs=/host'
    ports:
      - "9100:9100"
    volumes:
      - '/:/host:ro,rslave'
    networks:
      - monitoring
    pid: host

volumes:
  prometheus_data:
  alertmanager_data:
  grafana_storage:
  
networks:
  monitoring:
    external: true
